html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/app.css")
        link(rel="stylesheet", href="./css/goals.css")
        title accountable
    body
        include nav/navbar.pug

        if !user
            include Signup.pug
        else
            h1 #{user.user.firstName}
            include goals/goals.pug
            include mixin/modal.pug
            +modal("Set a new goal", "createGoal")

        script(src="")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://unpkg.com/popper.js/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        //- <script data-main="scripts/main" src="scripts/require.js"></script>
        script(data-main="/js/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js")
        //- script(src="/main.js")
        //- script(src="/js/SignUp.js")
        //- script(src="/js/Goals.js")