#Login.panel.panel-default(data-load-class="Login")
    .panel-body
        form#LoginForm(action="/" method="POST")
            div.form-group
                input(type="text" name="username")
            div.form-group
                input(type="password" name="password")
            div.form-group
                input.btn.btn-primary(type="submit" value="Sign up")
            div.login-link or &nbsp;
                a(href="/login" data-load-class="login") sign up here