#SignUp.panel.panel-default(data-load-class="SignUp")
    .panel-body
        form#SignUpForm(action="/" method="POST")
            div.form-group
                input(type="text" name="username")
            div.form-group
                input(type="password" name="password")
            div.form-group
                input.btn.btn-primary(type="submit" value="Crush your goals!")
                div.login-link or
                    a(href="/login") login here