.goals {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.goals .card {
    width: 300px;
    padding: 10px;
}

.goals button.new-goal {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
}