div.goals(data-load-class="Goals")
    h2 #{user.user.firstName}'s Goals
    for goal in user.goals
        .card
            div.card-title #{goal.goal}
            div.card-block
                div.goal-deadline Deadline #{goal.deadline} 
                div Status #{goal.completed}
                div Friends
                    for friend in goal.Friends
                        div #{friend.firstName}
        //- script(type="text/javascript").
        //-     !{JSON.stringify(goal)}
    button.new-goal.btn.btn-danger#createGoal(data-toggle="modal" data-target="#createGoalModal") +
