nav.navbar.navbar-inverse.accountable-nav( role="navigation" )
    .navbar-header
        a.navbar-brand(href="#") accountable
    .nav-item  hello
    .nav-item  hello
    .nav-item  hello
    if user
        .nav-item.logout(data-load-class="logout")
            a(href="javascript:void(0)") Logout
        .nav-item.dropdown
            .btn.btn-secondary.dropdown-toggle#dropdownMenuButton Hey, #{user.user.firstName}!
            .dropdown-menu(aria-labelledby="dropdownMenuButton")
                a.dropdown-item(href="/api/logout") Logout
    else
        .nav-item
            a(href="/signup") Sign Up
        .nav-item
            a(href="/login") Login
    